:root{
    --background:#100E1D;
    --text-color-light:#E7E7EB;
    --text-color:#A09FB1;
    --bg-container: #1E213A;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--background);
    color:var(--text-color);
}

button{
    background: none;
    border: none;
}

.button{
    padding: 11px 18px;
    color: var(--text-color);
}

.button--secondary{
    background-color: #6e707a; 
};

.icon-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon--secondary{
    background-color: #6e707a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.icon-large{
    width: 30px;
    height: 30px;
}

